spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto = update
spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/minion
spring.datasource.username=abc
spring.datasource.password=xyz
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

spring.datasource.testWhileIdle = true
spring.datasource.validationQuery = SELECT 1